.add-list-container {
    display: block;
    position: relative;
    align-self: flex-start;
    background-color: transparent;
    border-radius: 3px;
    
    .open-edit-btn {
        display: block;
        @include btn($type: dark, $height: 40px);
        border-radius: 3px;
        color: darkblue;
        width: 270px;
        cursor: pointer;
        transition: background-color, 0.09zs;
    }
    
    .add-list {
        position: absolute;
        display: none;
        background-color: transparentize($group-bg, 1);
        border-radius: 3px;
        padding: 4px;
        width: 100%;
        top: 0;
        transition: transparency;
        
        input {
            // position: absolute;
            display: block;
            box-shadow: inset 0 0 0 2px #0079bf;
            background-color: white;
            padding: 8px 12px;
            margin-bottom: 4px;
            border-radius: 3px;
            width: 100%;
        }

        .add-list-btn {
            @include btn($type: dark);
            display: inline-block;
            background-color: $header-workspace;
            margin: 0;
            width: 80px;
            height: 100%;
            float: left;

            &:hover {
                background-color: darken($header-workspace, 5%);
            }
        }

        a {
            @include btn($type: dark, $height: 40px);
            background-color: transparent;
            position: relative;
            display: inline-block;
            width: 32px;
            height: 32px;
            
            &::before {
                position: absolute;
                content: url("../../../imgs/icons/add.svg");
                transform: translate(-50%, 10%);
                height: 20px;
            }
            &:hover {
                background-color: transparent;
            }
        }

    }

    &.editing .add-list {
        display: inline-block;
        background-color: transparentize($group-bg, 0);
    }
}