.board-members-header {
    display: flex;
    align-items: center;

    .members-preview {
        display: flex;
        align-items: center;

        .member {
            width: 30px;
            height: 25px;
            cursor: pointer;

            &:not(:first-child) {
                margin-left: -8px;
            }

            img {
                border-radius: 50%;
            }
        }
    }

    button.share-board {
        background-color: $header-workspace;

        &:hover {
            background-color: lighten($header-workspace, 5%);
        }
    }

    .modal-header-members {
        position: absolute;
        background-color: #f4f5f7;
        width: 300px;
        border-radius: 3px;
        padding: 12px;
        z-index: 10;

        .members {
            .close-modal {
                float: right;
                color: $edit;
                // height: 16px;
                // width: 16px;
                cursor: pointer;

                &:hover {
                    color: $txt;
                }

                svg {
                    fill: $edit;
                    height: 16px;
                    width: 16px;
                    margin: 0;

                    &:hover {
                        fill: $txt;
                    }
                }
            }

            h2 {
                font-size: 14px;
                text-align: center;
                font-weight: 400;
            }

            input {
                height: 32px;
                width: 100%;
                border: 2px solid $edit-opc;
                border-radius: 3px;
                margin-bottom: 20px;
                padding-inline-start: 4px;
                cursor: context-menu;
            }

            h3 {
                font-size: 12px;
                font-weight: 600;
                color: $edit;
                margin-bottom: 8px;
            }

            .member {
                height: 40px;
                margin-bottom: 4px;
                border-radius: 3px;
                cursor: pointer;

                &:hover {
                    background-color: $opc-black;
                }

                .img-container {
                    height: 32px;
                    width: 32px;
                    border-radius: 100px;
                    overflow: hidden;
                    margin-inline-start: 4px;


                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                p {
                    flex-grow: 1;
                    padding-inline-start: 8px;
                }

                svg {
                    height: 16px;
                    width: 16px;
                    fill: $edit;
                    margin-inline-end: 4px;
                }
            }
        }

        .cover {
            input {
                @include input;
                margin-top: 10px;
            }

            h4 {
                font-family: pri-font-bold;
                color: $td-sub;
                font-size: 12px;
                font-weight: 600;
            }

            .photos-from-unsplash {
                // display: grid;
                // grid-template-columns: repeat(minmax(1fr, 1fr));
                display: flex;
                flex-wrap: wrap;
                gap: 6px;

                .img-pick-cover {
                    img {
                        width: 85px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 3px;
                    }

                    height: 50px;
                }

            }

            .size-selector {
                width: 300px;
                height: 70px;
                display: flex;
                gap: 8px;

                .partial-cover,
                .full-cover {
                    border-radius: 3px;
                    width: 135px;
                    height: 60px;
                    border: 1px solid rgba(9, 30, 66, 0.08);
                }

                .card-example-bottom {
                    display: flex;
                    padding: 6px 4px;
                    // background-color: #0079bf;
                    flex-direction: column;
                    width: 100%;

                    .line-1,
                    .line-2 {
                        border-radius: 30px;
                    }

                    .line-1 {
                        width: 95%;
                        height: 4px;
                        background-color: palevioletred;
                    }

                    .line-2 {
                        width: 70%;
                        height: 4px;
                        background-color: palevioletred;
                        margin-top: 4px
                    }
                }

                .partial-cover {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .card-example-header {
                        height: 40%;
                        width: 100%
                    }

                    .card-example-bottom {
                        height: 55%;

                    }

                }

                .full-cover {
                    display: flex;
                    align-items: flex-end;
                }


            }

            button {
                @include btn;
                width: 100%;
            }

            .colors-wrapper {
                display: flex;
                flex-wrap: wrap;
                gap: 6px;

                .color {
                    border-radius: 3px;
                    width: 50px;
                    height: 30px;
                    padding: 6px 12px;
                }

            }

            .header-wrapper {
                display: flex;
                position: relative;
                text-align: center;
                align-items: center;
                justify-content: center;
                border-bottom: 1px solid $opc-black-hov;
                padding-bottom: 12px;

                div {
                    position: absolute;
                    right: 0;
                    width: fit-content;
                    height: fit-content;


                }

            }
        }

        .labels {
            .close-modal {
                float: right;
                color: $edit;
                // height: 16px;
                // width: 16px;
                cursor: pointer;

                &:hover {
                    color: $txt;
                }

                svg {
                    fill: $edit;
                    margin: 0;

                    &:hover {
                        fill: $txt;
                    }
                }

            }

            h2 {
                font-size: 14px;
                text-align: center;
                font-weight: 400;
            }

            .label {
                margin-bottom: 8px;

                .label-bar {
                    cursor: pointer;
                    display: flex;

                    svg {
                        height: 16px;
                        width: 16px;
                        fill: $bg;
                        align-self: center;
                        margin: 0 8px 0 auto;
                    }
                }


            }


        }

        .checklist {
            .close-modal {
                float: right;
                color: $edit;
                // height: 16px;
                // width: 16px;
                cursor: pointer;

                &:hover {
                    color: $txt;
                }

                svg {
                    fill: $edit;
                    margin: 0;

                    &:hover {
                        fill: $txt;
                    }
                }

            }

            h2 {
                font-size: 14px;
                text-align: center;
                font-weight: 400;
            }

            h3 {
                font-size: 12px;
                font-weight: 600;
                color: $edit;
                margin-bottom: 8px;
            }

            input {
                width: 100%;
                outline: 2px solid $clr1;
                border-radius: 3px;
                height: 32px;
                padding-inline-start: 4px;
                margin-bottom: 16px;
            }

            button {
                @include btn($type: dark);
                background-color: $header-workspace;
                margin: 0;
                width: 80px;
                height: 100%;
                float: left;

                &:hover {
                    background-color: darken($header-workspace, 5%);
                }
            }
        }

        .attachments {
            .close-modal {
                float: right;
                color: $edit;
                // height: 16px;
                // width: 16px;
                cursor: pointer;

                &:hover {
                    color: $txt;
                }

                svg {
                    fill: $edit;
                    margin: 0;

                    &:hover {
                        fill: $txt;
                    }
                }

            }

            h2 {
                font-size: 14px;
                text-align: center;
                font-weight: 400;
            }

            h3 {
                font-size: 12px;
                font-weight: 600;
                color: $edit;
                margin-bottom: 8px;
            }

            input {
                width: 100%;
                outline: 2px solid $clr1;
                border-radius: 3px;
                height: 32px;
                padding-inline-start: 4px;
                margin-bottom: 16px;

            }

            button {
                @include btn($type: dark);
                background-color: $header-workspace;
                margin: 0;
                width: 80px;
                height: 100%;
                float: left;

                &:hover {
                    background-color: darken($header-workspace, 5%);
                }
            }
        }
    }
}