.board-header {

    .board-data {
        width: auto;

        // &>*{
        //     display: inline-block;
        // }

        h2 {
            font-size: 18px;
            font-weight: 700;
        }
        .board-name {
            font-size: 1.28em;
            margin: 0 8px 0 4px;
            padding: 4px;
            background-color: var(--clr-dynamic-faded);
            color: var(--clr-dynamic-inner);
            &:focus {
                color: var(--clr-dynamic-invert);
                margin: 0 8px 0 4px;
                padding: 0;
                font-size: 1.28em;
                outline: none;
                box-shadow: 0 0 0px 2px #0079bf;
            }
        }

        &>*:not(last-child) {
            margin-inline-end: 4px;
        }

        button {
            @include btn($type: dark);
            color: var(--clr-dynamic-inner);
            background-color: var(--clr-dynamic-faded);
            &:hover {
                background-color: var(--clr-dynamic-faded-hover);
            }
        }

        input {
            font-size: rem(20px);
            font-weight: 700;
            margin-bottom: 4px;
            flex-grow: 1;

            &:focus {
                outline: 1px solid $txt;
                border-radius: 1px;
                height: 32px;
                margin-bottom: 0;
                background-color: $bg;
                padding: 0 4px;
            }
        }

        // textarea {
        //     width: 100%;
        //     overflow: hidden;
        // }

        .btn-stared {
            height: 32px;
            width: 32px;
            line-height: 32px;
            border-radius: 3px;
            margin-inline-end: 4px;
            background-color: var(--clr-dynamic-faded);
            cursor: pointer;

            &:hover {
                background-color: var(--clr-dynamic-faded-hover);
            }

            svg {
                height: 20px;
                width: 20px;
                fill: var(--clr-dynamic-inner);
            }

        }
    }

    .board-features {
        &>*:not(first-child) {
            margin-inline-start: 4px;
        }

        div {
            @include btn($type: dark);
            padding: 0 12px;
            color: var(--clr-dynamic-inner);
            background-color: var(--clr-dynamic-faded);
            background-blend-mode: color;
            cursor: pointer;
            &:hover {
                background-color: var(--clr-dynamic-faded-hover);
            }

            svg {
                margin-inline-end: 8px;
                fill: var(--clr-dynamic-inner);
            }
        }
    }
}