.group {
    min-width: 270px;
    border-radius: 3px;
    margin-inline-end: 8px;
    background-color: $group-bg;
    max-height: calc(100vh - 44px - 52px - 8px);
    overflow-y: auto;
    align-self: flex-start;

    .group-header {
        height: 40px;
        padding: 10px 8px;

        h2 {
            font-weight: 600;
            font-size: rem(20px);

        }

        .more {
            width: 28px;
            height: 28px;

            &::before {
                content: url('../../../imgs/icons/more.svg');
            }
        }
    }

    .list-task {
        padding: 0 4px;
        margin: 0 4px;

        .task-preview {
            margin-bottom: 8px;
        }
    }

    .group-footer {
        height: 38px;
        padding: 0 8px;

        &>* {
            color: $group-text;
            font-weight: 500;
        }

        a {
            line-height: 38px;

            &::before {
                content: url('../../../imgs/icons/add.svg');
                fill: $group-text;
            }
        }

        .add-media {
            width: 28px;
            height: 28px;
            background-color: red;

            &::before {
                content: url('../../../imgs/icons/calender.svg');
            }
        }
    }

}