.group {
    position: relative;
    max-width: 270px;
    min-width: 270px;
    border-radius: 3px;
    margin-inline-end: 8px;
    background-color: $group-bg;
    max-height: calc(100vh - 44px - 52px - 30px);
    overflow-y: visible;
    align-self: flex-start;

    .group-header {
        height: 40px;
        padding: 8px 8px 0 8px;
        border-radius: 3px 3px 0 0;


        textarea {
            flex-grow: 1;
            padding: 4px 4px 4px 8px;
            margin-inline-end: 8px;
            border-radius: 1px;

            &:focus {
                border: none;
                outline: 2px solid #172b4d;
            }
        }

        h2 {
            font-weight: 600;
            font-size: rem(20px);

        }

        .more {
            width: 28px;
            height: 28px;
            border-radius: 3px;
            cursor: pointer;

            &:hover {
                background-color: $opc-black-hov;
            }

            svg {
                height: 16px;
                width: 16px;
                fill: $td-sub;
            }
        }
    }

    .list-task {
        padding: 1px 4px;
        margin: 0 4px 0 4px;
        overflow: auto;
        overflow-x: hidden;


        // &:first-child {
        //     margin-top: 4px;
        // }

        // h2 {
        //     transform: translateX(125%);
        // }

        &>*:not(last-child) {
            margin-bottom: 8px;
        }

        &::-webkit-scrollbar {
            border-radius: 10px;
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: rgba(128, 128, 128, 0.231);

        }

        &::-webkit-scrollbar-thumb {
            background: rgba(128, 128, 128, 0.231);
            border-radius: 10px;
        }
    }

    .group-footer {
        // height: 38px;
        margin: 0 8px;
        margin-bottom: 8px;
        border-radius: 3px;

        // &:hover {
        //     background-color: $opc-black;
        // }

        &>* {
            color: $group-text;
            font-weight: 500;

        }

        .add-card-open-btn {
            @include btn();
            display: flex;
            align-items: center;
            position: relative;
            width: 100%;
            text-align: start;
            border-radius: 3px;
            height: 28px;
            padding: 0 8px;
            font-size: 14px;
            background-color: inherit;

            &:hover {
                background-color: $opc-black;
            }

            svg {
                height: 16px;
                width: 16px;
                fill: $td-svg;
                // align-self: center;
                margin-inline-end: 6px;
            }

            // &::before {
            //     position: absolute;
            //     content: url('../../../imgs/icons/add.svg');
            //     fill: $group-text;
            //     left: 0;
            //     transform: translate(0%, 20%);
            //     height: 20px;
            // }
        }

        .add-card-btn {
            @include btn($type: dark);
            background-color: #0079BF;
            margin-inline-end: 14px;

            &:hover {
                background-color: darken(#0079BF, 4%);
            }

            svg {}
        }

        .add-card-close-btn {
            @include btn();
            display: flex;
            align-items: center;
            padding: 0;
            background-color: inherit;

            svg {
                fill: $edit;

                &:hover {
                    fill: $txt;
                }
            }
        }

        .add-card {
            height: 28px;
            width: 28px;

            svg {
                height: 16px;
                width: 16px;
                fill: $td-svg;
            }
        }



    }
}