.task-preview {
    width: 100%;
    position: relative;
    background-color: $white;
    border-radius: 3px;
    box-shadow: 0 1px 0 #091e4240;

    &>* {
        // border: 1px solid red;
    }

    .task-color {
        line-height: 32px;
        height: 32px;
        border-radius: 3px 3px 0 0;

    }

    .task-info {
        padding: 6px 8px 2px;

        .task-label {
            display: flex;

            .label {
                display: inline-block;
                height: 8px;
                width: 40px;
                border-radius: 3px;
                margin: 0 4px 4px 0;
            }
        }

        .task-title {
            width: 100%;
            margin: 0 0 4px;
        }

        .task-status {
            height: 34px;

            .members {
                gap: 8px;
                height: 28px;
                margin: 0;
                margin-inline-start: 8px;

                .member {
                    height: 100%;
                    border-radius: 100px;
                    overflow: hidden;

                    img {
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }

            .badges {
                .badge {
                    height: 20px;
                    width: 20px;

                    svg {
                        height: 16px;
                        width: 16px;
                        fill: $edit;
                    }
                }
            }


        }
    }

}