.task-preview {
    width: 100%;
    position: relative;
    background-color: $white;
    border-radius: 3px;
    box-shadow: 0 1px 0 #091e4240;

    &>* {
        // border: 1px solid red;
    }

    .task-color {
        line-height: 32px;
        height: 32px;
        border-radius: 3px 3px 0 0;

    }

    .task-info {
        padding: 6px 8px 2px;

        .task-label {
            display: flex;
            .label {
                display: inline-block;
                height: 8px;
                width: 40px;
                background-color: $label1;
                border-radius: 3px;
                margin: 0 4px 4px 0;
            }
        }

        .task-title {
            margin: 0 0 4px;
        }

        .task-status {
            height: 28px;
        }
    }

}