.auth-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: $td-bg;


    .background-container {
        position: fixed;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        svg {
            width: 400px;
            height: 390px;
        }
    }

    .auth-logo {
        height: 40px;
        margin: 30px 0;

        svg {
            height: 100%;
            fill: $clr1;
        }

        h1 {
            padding: 40px 0;
            font-size: 37px;
            transform: translateY(-1%);


        }
    }

    .form-wrapper {
        overflow: auto;
        width: 100%;
        max-width: 400px;
        background-color: $white;
        text-align: center;
        padding: 40px 40px 60px;
        border-radius: 3px;
        box-shadow: rgb(0 0 0 / 10%) 0 0 10px;
        align-self: center;
        z-index: 100;

        .login-btn {
            background-color: $login-btn;
            color: $bg;
        }

        h2 {
            margin-bottom: 25px;
        }

        .inputs-wrapper {
            .user-name {
                flex-wrap: wrap;
                gap: 0 10px;
                &>* {
                    flex-grow: 1;
                    margin-right: 0;
                }
            }
        }

        .long-field {
            width: 100%;
        }
    }

    button {
        @include btn;
        width: 100%;
        background-color: #E2E4E6;

    }

    a:not(.reset) {
        display: inline-block;
        width: 100%;
        height: 32px;
        margin-bottom: 16px;
        box-shadow: rgb(0 0 0 / 20%) 1px 1px 5px 0;
        line-height: 32px;
    }

    input {
        border: 2px solid #DFE1E6;
        margin-bottom: 16px;
        height: 44px;
        border-radius: 3px;
        background-color: #FAFBFC;
        padding: 7px;
        font-family: pri-font;

    }

    .login-method-separator {
        margin: 16px 0;
    }

    .google-login {
        button {
            box-shadow: 0 0 6px 0px #0000002a !important;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;

            div {
                height: 45px;
            }
        }
    }

    hr {
        margin-top: 30px;
        width: 100%;
        color: black;
        height: 2px;
    }

    a.to-home {
        text-align: start;
        text-decoration: underline;
    }
    
    a.to-login {
        text-decoration: underline;
        margin-left: 20%;
    }
}