.auth-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: $td-bg;

    button {
        @include btn;
        width: 100%;
        background-color: #e2e4e6;
    }

    .svg-left,
    .svg-right {
        position: fixed;
        bottom: 0;
        height: 420px;
    }

    .svg-left {
        left: 0;
    }

    .svg-right {
        right: 0;
    }

    .auth-logo {
        display: flex;
        align-items: center;

        height: 40px;
        margin: 30px 0;

        .logo-img {
            width: 30px;
            margin-right: 10px;
        }

        h1 {
            font-size: 38px;
            transform: translateY(-2px);
            cursor: default;
        }
    }

    .form-wrapper {
        width: 400px;
        padding: 40px;
        text-align: center;
        z-index: 100;

        background-color: $white;
        box-shadow: rgb(0 0 0 / 10%) 0 0 10px;
        border-radius: 3px;

        h2 {
            cursor: default;
            margin-bottom: 25px;
        }

        input {
            height: 44px;
            margin: 0 0 16px 0;
            padding: 12px;

            background-color: #fafbfc;
            border: 2px solid #dfe1e6;

            cursor: auto;
            border-radius: 3px;
        }

        .inputs-wrapper {
            display: flex;
            flex-direction: column;

            .user-name {
                display: flex;
                gap: 5px;

                & > * {
                    width: 50%;
                    margin-inline-end: 0;
                }
            }
        }

        .auth-btn {
            font-size: 14px;
            height: 44px;

            color: $bg;
            background-color: $login-btn;

            &:active {
                transform: scale(0.97);
                box-shadow: 0px 2px 8px 0px rgb(0 0 0 / 24%);
            }
        }
    }

    h4.separator {
        margin: 16px 0;
        cursor: default;
    }

    .btn-google {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 50px;
        box-shadow: 0 0 6px 0px #0000002a !important;

        &:active {
            transform: scale(0.97);
        }

        div {
            height: 45px;
        }
    }

    hr {
        margin-top: 30px;
        width: 100%;
        color: black;
        height: 2px;
    }

    .links {
        display: flex;
        justify-content: center;
        gap: 50px;

        margin-top: 20px;

        a {
            text-decoration: underline;
        }
    }
}
