#root {
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    height: 100%;
}

.board {
    position: relative;

    // padding-top: 44px;
    // background: url(../../imgs/milad-fakurian-tUF--C9oOuE-unsplash.jpg) no-repeat center center fixed;
    // background: url(../../imgs/stockholm-paris-studio-HaAVZg3b-7o-unsplash.jpg) no-repeat center center fixed ;
    // background: url(../../imgs/debora-pilati-dOG0z4-gqp0-unsplash.jpg) no-repeat center center fixed ;
    // background: url(../../imgs/gradienta-LeG68PrXA6Y-unsplash.jpg) no-repeat center center fixed ;
    // background: url(../../imgs/sandro-katalina-k1bO_VTiZSs-unsplash.jpg) no-repeat center center fixed ;
    // background: url(../../imgs/jj-ying-7JX0-bfiuxQ-unsplash.jpg) no-repeat center center fixed;
    // background: url('https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80') no-repeat center center fixed;



    .board-header {
        height: 52px;
        width: 100%;
    }

    .group-container {
        overflow-x: auto;
        flex-grow: 1;
        grid-column: 1 /-1;
        padding-left: 20px;

        &:last-child {
            padding-inline-end: 20px;
        }

        &::-webkit-scrollbar {
            border-radius: 10px;
            height: 12px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: rgba(128, 128, 128, 0.231);

        }

        &::-webkit-scrollbar-thumb {
            background: rgba(128, 128, 128, 0.231);
            border-radius: 10px;
        }

    }

}