.board {
    padding-top: 44px;
    // background-image: url('../../imgs/milad-fakurian-tUF--C9oOuE-unsplash.jpg');
    background-image: url('../../imgs/stockholm-paris-studio-HaAVZg3b-7o-unsplash.jpg');
    object-fit: contain;

    .board-header {
        height: 52px;
        width: 100%;
    }

    .group-container {
        overflow-x: auto;
        flex-grow: 1;
        grid-column: 1 /-1;
        padding-left: 20px;

    }

}