#root {
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    height: 100%;
}

.board {
    position: relative;
    // padding-top: 44px;
    // background: url(../../imgs/milad-fakurian-tUF--C9oOuE-unsplash.jpg) no-repeat center center fixed;
    // background: url(../../imgs/stockholm-paris-studio-HaAVZg3b-7o-unsplash.jpg) no-repeat center center fixed ;
    // background: url(../../imgs/debora-pilati-dOG0z4-gqp0-unsplash.jpg) no-repeat center center fixed ;
    // background: url(../../imgs/gradienta-LeG68PrXA6Y-unsplash.jpg) no-repeat center center fixed ;
    // background: url(../../imgs/sandro-katalina-k1bO_VTiZSs-unsplash.jpg) no-repeat center center fixed ;
    // background: url(../../imgs/jj-ying-7JX0-bfiuxQ-unsplash.jpg) no-repeat center center fixed;
    // background: url('https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80') no-repeat center center fixed;

    .board-header {
        min-height: 54px;
        width: 100%;

        .btn-stared {
            &.is-starred {
                svg {
                    fill: $star;
                    stroke: $star;
                }
            }
        }

        .board-name {
            margin-block-end: 0;
            margin-block-start: 0;
            line-height: 20px;
        }
    }


    .group-container {
        overflow-x: auto;
        flex-grow: 1;
        grid-column: 1 /-1;
        padding-left: 20px;
        margin-top: 8px;

        &:last-child {
            padding-inline-end: 20px;
        }

        &::-webkit-scrollbar {
            border-radius: 10px;
            height: 12px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: rgba(128, 128, 128, 0.231);

        }

        &::-webkit-scrollbar-thumb {
            background: rgba(128, 128, 128, 0.231);
            border-radius: 10px;
        }

    }

    @include mobile-layout {
        margin-top: 50px;
        height: 90%;
    }

    @include narrow-layout {
        margin-top: 50px;
    }

    @include normal-layout {
        margin-top: 0;
    }
}


.side-menu {
    position: absolute;
    right: 0;
    height: 100%;

    .close-modal-btn-wrapper {
        width: 32px;
        height: 32px;
        position: absolute;
        right: 0;

        svg {
            width: 20px;
        }

        &:hover {
            svg {
                fill: $opc-black-hov;
            }
        }
    }


    .menu-content {
        overflow-y: auto;
        background-color: $td-bg;
        text-align: center;
        width: 360px;
        position: fixed;
        // background-color: #0079bf;
        height: 95%;
        top: 44px;
        right: 0;
        z-index: 10;
        padding: 12px;
        transform: translateX(100%);

        &::-webkit-scrollbar {
            border-radius: 10px;
            width: 12px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: rgba(128, 128, 128, 0.231);

        }

        &::-webkit-scrollbar-thumb {
            background: rgba(128, 128, 128, 0.231);
            border-radius: 10px;
        }

        h1 {
            font-size: 16px;
            padding-bottom: 14px;
            border-bottom: 0.2px solid $opc-black;
            margin-bottom: 20px;
        }



        button:first-of-type() {
            margin-top: 10px;

        }

        &.open {
            animation-name: show-side-menu;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
            transform: translateX(0)
        }

        .header-features-buttons-wrapper {
            display: flex;
            flex-direction: column;

            button {

                height: fit-content;
                @include btn;
                margin: 5px 0;
                text-align: start;
                background-color: unset;

                &:hover {
                    background-color: $opc-black;
                }
            }
        }

        .activity-header-wrapper {
            display: flex;
            align-items: center;
            height: 38px;
            // width: 38px;

            .activity-logo-wrapper {
                width: 38px;
                padding-left: 5px;
                padding-top: 5px;
            }

            .activity-heading {
                justify-self: start;
                padding-left: 10px;
                font-family: secular-font;
                font-size: 14px;

            }

        }

        .activities-list {

            .activity-wrapper {
                display: grid;
                grid-template-columns: 50px 1fr;
                grid-template-rows: 1fr 20px;
                justify-items: start;
                margin-bottom: 10px;
                align-content: center;



                .guest-icon {
                    @include img-icon;
                    margin-inline-start: 5px;
                    margin-top: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $bg;

                    margin-bottom: 5px;
                    grid-row: 1 /-1;
                }

                img {
                    @include img-icon;
                    margin-inline-start: 5px;
                    margin-top: 5px;

                    margin-bottom: 5px;
                    grid-row: 1 /-1;
                }

                p {
                    font-size: 14px;
                    text-align: start;

                    word-break: break-word;
                    line-height: 20px;

                    .created-by-name {
                        font-size: 14px;
                        font-family: pri-font-bold;
                        font-weight: 700;
                        color: inherit;

                    }

                }

                span {
                    font-size: 12px;
                    color: $edit;
                }
            }
        }
    }

}

.background-modal {
    background-color: $td-bg;

    text-align: center;
    width: 340px;
    height: 100%;
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    padding: 12px;
    // transform: translateX(100%);
    display: none;

    &.open {
        // transform: translateX(0);
        display: block;
    }

    .close-modal-btn-wrapper {
        width: 32px;
        height: 32px;
        position: absolute;
        right: 0;

        svg {
            width: 20px;
        }

        &:hover {
            svg {
                fill: $opc-black-hov;
            }
        }
    }

    h1 {
        font-size: 16px;
        padding-bottom: 14px;
        border-bottom: 0.2px solid $opc-black;
        margin-bottom: 20px;
    }

    input {
        @include input
    }

    .unsplash-imgs-wrapper {
        // overflow-y: scroll;
        // display: flex;
        // flex-wrap: wrap;
        column-count: 2;
        column-gap: 20px;
        column-gap: 10px;
        margin-bottom: 20px;
    }

    .unsplash-imgs-small {
        width: 150px;
        margin-bottom: 10px;
    }

}

@keyframes show-side-menu {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.menu-shadow.appear {
    animation-name: shadow-appearance;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    display: block;
    opacity: 1;
}

.show-menu-clear-screen {
    width: 90vw;
    height: 100vh;
    // background-color: aqua;
    position: absolute;
    z-index: 5;
}