// .dashboard {
//     position: absolute;
//     background-color: $group-bg;
//     top: 0;
//     height: 98%;
//     width: 100%;
//     grid-column: 2/3;
//     overflow-x: hidden;
// }


.dashboard-main {
    position: absolute;
    top: 0;
    grid-column: 1/3;
    margin-top: 52px;
    background-color: $group-bg;
    height: calc(100vh - 44px - 52px);
    width: 100vw;
    margin: 52px 20px 20px;
    gap: 12px;
    overflow-x: hidden;
    transform: translateX(-20px);
    padding: 24px 0;

    &::-webkit-scrollbar {
        border-radius: 10px;
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: rgba(128, 128, 128, 0.231);

    }

    &::-webkit-scrollbar-thumb {
        background: rgba(128, 128, 128, 0.231);
        border-radius: 10px;
    }

    h1 {
        font-size: 30px;
        font-weight: 700;
    }

    h2 {
        margin-bottom: 40px;

        span {
            color: $clr1;
            font-weight: 700;
            font-size: 22px;
        }
    }

    .activity {
        width: 80%;
        margin-bottom: 20px;

        h3 {
            color: red;
        }

        canvas {
            height: 200px;

        }
    }

    .more-stat {
        width: 80%;

        .cards-member {
            width: 40%;

            canvas {
                height: 100px;
            }
        }

        .cards-labels {
            width: 40%;

            canvas {
                height: 100px;
            }
        }
    }
}