// .dashboard {
//     position: absolute;
//     background-color: $group-bg;
//     top: 0;
//     height: 98%;
//     width: 100%;
//     grid-column: 2/3;
//     overflow-x: hidden;
// }


.dashboard-main {
    position: absolute;
    top: 0;
    grid-column: 1/3;
    margin-top: 52px;
    background-color: $group-bg;
    height: calc(100vh - 44px - 52px);
    width: 100vw;
    margin: 52px 20px 20px;
    // gap: 12px;
    overflow: hidden;
    transform: translateX(-20px);
    // padding: 12px 0;



    .close-modal {
        position: absolute;
        display: fixed;
        right: 20px;
        top: 12px;
        border-radius: 100px;
        cursor: pointer;

        svg {
            fill: $td-svg;

        }

    }

    .dash-header {
        padding: 12px 0;
        background-color: $header-board;
        width: 100%;

        h1 {
            font-size: 30px;
            font-weight: 700;
        }

        h2 {
            margin-bottom: 8px;

            span {
                color: $clr1;
                font-weight: 700;
                font-size: 22px;
            }
        }
    }


    .main-dash {
        width: 100%;
        overflow-y: auto;
        padding: 0 0 50px;

        // transform: translateY(100px);


        &::-webkit-scrollbar {
            border-radius: 10px;
            width: 20px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: rgba(128, 128, 128, 0.231);

        }

        &::-webkit-scrollbar-thumb {
            background: rgba(128, 128, 128, 0.231);
            border-radius: 10px;
        }

        .activity {
            width: 100%;
            padding: 50px 250px;
            background-color: $txt;

            h2.act-title {
                color: $bg;
                margin-bottom: 24px;
                font-weight: 400;
                width: 100%;
                // padding: 0 150px;
                text-align: left;
                font-size: 20px;
            }

            .act-data {
                width: 100%;
                gap: 50px;
                // padding: 0 150px;

                .activity-chart {
                    width: 70%;
                    margin-bottom: 20px;

                    canvas {
                        height: 200px;

                    }
                }

                .activity-info {
                    width: 30%;
                    border-radius: 3px;
                    background-color: $clr1-opc;
                    padding: 40px;
                    align-self: center;
                    transform: translateY(-28px);
                    color: $bg;
                    text-align: center;

                    span {
                        color: $success;
                        font-size: 30px;
                        font-weight: 900;
                        margin: 0 4px;
                    }

                    h3 {
                        margin-bottom: 24px;
                    }

                    h4 {
                        color: $star;
                        font-size: 18px;
                    }
                }
            }
        }

        .more-stat {
            width: 80%;

            .cards-member {
                width: 40%;

                canvas {
                    height: 100px;
                }
            }

            .cards-labels {
                width: 40%;

                canvas {
                    height: 100px;
                }
            }
        }
    }
}