.board {
    .dashboard-main {
        position: absolute;
        top: 0;
        background-color: red;
        height: 100%;
        width: 100%;

        h1 {
            color: gold;
        }
    }
}