.dashboard {
    grid-column: 1/3;
    position: absolute;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 50px;

    height: calc(100vh - 44px);
    width: 100vw;
    padding: 50px 50px 75px;
    background-color: $group-bg;

    &::-webkit-scrollbar {
        border-radius: 10px;
        width: 16px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: rgba(128, 128, 128, 0.231);
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(128, 128, 128, 0.231);
        border-radius: 10px;
    }

    &.slide-in {
        animation: slide-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

        @keyframes slide-in {
            0% {
                opacity: 0.90;
                transform: translateY(110%);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    &.slide-out {
        animation: slide-out 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

        @keyframes slide-out {
            0% {
                opacity: 1;
                transform: translateY(0);
            }
            100% {
                opacity: 0.90;
                transform: translateY(110%);
            }
        }
    }

    svg.close {
        position: fixed;
        right: 50px;
        top: 58px;
        z-index: 100;

        height: 25px;
        width: 25px;
        border-radius: 100px;
        fill: $td-svg;
        cursor: pointer;
    }

    h1 {
        font-size: 28px;
        font-weight: 600;
    }

    .summary {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;

        .box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            width: 175px;
            height: 175px;
            border-radius: 3px;
            text-align: center;
            padding-top: 25px;
            background-color: $white;
            box-shadow: 0 2px 0 #091e4240;

            &:hover {
                transform: scale(105%);
                transition: transform, 0.25s;
            }

            svg {
                height: 40px;

                padding-inline-start: 25px;
                fill: $td-svg;
            }

            h3 {
                height: 70px;
                width: 100%;
                line-height: 70px;
                font-size: 40px;
                font-weight: 700;

                color: $success;
                background-color: $txt;
                text-align: center;
            }

            h4 {
                font-size: 16px;
                font-weight: 500;

                transform: translateY(-10px);
                padding-inline-start: 25px;
            }
        }
    }

    .activity {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 25px;

        width: 75%;
        margin-bottom: 50px;

        .activity-data {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            gap: 25px;

            height: 325px;
            border-radius: 3px;
            background-color: $bg;
            box-shadow: 0 2px 0 #091e4240;

            h2.act-title {
                font-size: 20px;
                font-weight: 600;

                color: $clr1;
                padding: 25px 0 0 25px;
            }

            .activity-chart {
                height: 100%;
                padding: 0 25px 25px;
            }
        }

        .activity-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 25px;

            .act-box {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                height: 150px;
                border-radius: 3px;
                padding: 25px;

                background-color: #dae9f1;
                box-shadow: 0 2px 0 #091e4240;

                h3 {
                    font-size: 18px;
                    font-weight: 500;

                    color: $txt;
                    text-align: center;
                }

                h2 {
                    font-size: 40px;
                    font-weight: 600;

                    color: $success;
                }
            }
        }
    }

    .members {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;

        border-radius: 3px;
        padding: 25px;
        background-color: $td-btn;

        h2 {
            font-size: 20px;
            font-weight: 600;

            color: $clr1;
        }

        .members-data {
            display: flex;
            gap: 50px;

            .members-info {
                display: flex;
                flex-direction: column;
                align-items: center;

                width: 50%;
                border-radius: 3px;
                padding: 25px;

                background-color: $bg;
                box-shadow: 0 2px 0 #091e4240;

                h3 {
                    font-weight: 500;

                    margin-bottom: 15px;
                    text-align: left;
                    width: 100%;
                }
            }

            .members-chart {
                width: 100%;
                height: 250px;
            }
        }
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;

        border-radius: 3px;
        padding: 25px;
        background-color: $td-btn;

        h2 {
            font-size: 20px;
            font-weight: 600;

            color: $clr1;
        }

        .cards-data {
            display: flex;
            gap: 50px;

            .cards-info {
                position: relative;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                width: 50%;
                border-radius: 3px;
                padding: 25px;
                background-color: $bg;
                box-shadow: 0 2px 0 #091e4240;

                h5 {
                    font-size: 18px;
                    font-weight: 400;
                }

                h3 {
                    width: 100%;

                    text-align: left;
                    margin-bottom: -20px;
                }

                h6 {
                    position: relative;
                    top: 48%;

                    font-size: 24px;
                    font-weight: 500;

                    margin-bottom: 25px;
                    color: $txt;

                    span {
                        color: $success;
                        font-weight: 600;
                    }
                }
            }

            .cards-chart {
                width: 100%;
                height: 250px;
                transform: translateY(-15px);
            }
        }
    }
}
