.home {
    background: linear-gradient(0deg, #fff, #eae6ff 100%);
    color: #172b4d;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;

    &>*:not(:first-child) {
        padding: 0 30px;

    }
}



nav {
    top: 0;
    left: 0;
    width: 100%;
    background-color: $bg;
    transition: box-shadow 0.5s;
    margin-bottom: 60px;

    &:hover {
        box-shadow: rgba(9, 30, 66, 0.106) 0px 6px 16px 0px;
    }


    .auth-links {
        display: flex;
        height: 60px;

        a {
            @include btn($height: 35px);
            font-size: 17.5px;
            padding: 10px 20px;
            height: 100%;
        }


        .signup-btn {
            background-color: #0065ff;
            color: $bg;
            border-radius: 0;
            padding-inline: 30px;
        }
    }

    .logo {
        display: flex;
        align-items: center;
        padding: 30px 0;
        margin-left: 30px;

        img {
            width: 25px;
            height: 25px;
            margin-inline-end: 8px;
        }

        h1 {
            font-family: secular-font;
            font-size: 30px;
            margin: 0;
            line-height: 1;
        }
    }
}

.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

    h1 {
        font-family: nunito;
        font-weight: 600;
        font-size: 44px;
        display: flex;
        flex-direction: column;
    }

    font-family: sans-serif;
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 190px;

    img {
        width: 445px;
        aspect-ratio: auto 931 / 1205;
        height: 555px;
    }

    p {
        font-family: pri-font;
        font-size: 20px;
        line-height: 1.6;
        font-size: 1.5rem;
    }

    p:nth-of-type(3) {
        margin-bottom: 20px
    }

    button {
        @include btn;
        background-color: #0065ff;
        height: unset;
        font-size: 1.25rem;
        color: $bg;
        padding: 10px 16px;

    }
}

.home-body {
    text-align: center;

    h1 {
        font-family: nunito;
        font-weight: 600;
        font-size: 44px;
        line-height: 1.7;
        display: flex;
        flex-direction: column;
    }

    img {
        width: 100%;
        aspect-ratio: auto 931 / 1205;
        height: 777px;
        margin-top: 20px;

    }

    p {
        font-family: pri-font;
        font-size: 20px;
        line-height: 1.6;
        font-size: 1.5rem;
    }

    .text-container {
        width: 80%;
        margin: auto;
    }
}