.home {
    background: linear-gradient(0deg, #fff, #eae6ff 100%);
    color: #172b4d;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;

    &>*:not(:first-child) {
        padding: 0 30px;

    }

    @include mobile-layout {
        &>*:not(:first-child) {
            padding: 5px;
        }

        .text-container {
            width: 100%;
        }

        nav {
            width: 100%;

        }

        .hero {
            flex-direction: column-reverse;
            gap: 30px;

            img {
                width: 300px;
                height: 250px;
            }

            .hero-content {
                text-align: center;
            }
        }

        .home-body {
            img {
                width: 100%;
                height: 500px;
                margin-top: 5px;
            }
        }
    }


    @include narrow-layout {
        .hero {
            flex-direction: column-reverse;
            gap: 10px;

            &>*:not(:first-child) {
                padding: 5px;
            }

            img {
                width: 400px;
                height: 350px;
            }
        }

        .home-body {
            img {
                width: 100%;
                height: 500px;
                margin-top: 5px;
            }
        }
    }

    @include wide-layout {
        .hero {
            flex-direction: row;
            gap: 190px;

            img {
                width: 350px;
                height: 450px;
            }

            .hero-content {
                text-align: start;
            }
        }
    }
}


nav {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 17px);
    background-color: $bg;
    transition: box-shadow 0.5s;

    &:hover {
        box-shadow: rgba(9, 30, 66, 0.106) 0px 6px 16px 0px;
    }


    .auth-links {
        display: flex;
        height: 60px;

        a {
            @include btn($height: 35px);
            font-size: 17.5px;
            padding: 10px 20px;
            height: 100%;
        }


        .signup-btn {
            background-color: #0065ff;
            color: $bg;
            border-radius: 0;
            padding-inline: 30px;
        }
    }

    .logo {
        display: flex;
        align-items: center;
        padding: 30px 0;
        margin-left: 30px;

        img {
            width: 25px;
            height: 25px;
            margin-inline-end: 8px;
            transform: translateY(-2px);

        }

        h1 {
            font-family: nunito;
            font-size: 30px;
            margin: 0;
            line-height: 1;
        }
    }
}

.hero {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 70px;
    font-family: sans-serif;
    flex-grow: 1;
    gap: 190px;

    h1 {
        font-family: nunito;
        font-weight: 600;
        font-size: 44px;
        display: flex;
        flex-direction: column;
    }

    // img {
    //     width: 445px;
    //     aspect-ratio: auto 931 / 1205;
    //     height: 555px;
    // }

    p {
        font-family: pri-font;
        font-size: 20px;
        line-height: 1.6;
        font-size: 1.5rem;
    }

    p:nth-of-type(3) {
        margin-bottom: 20px
    }

    button {
        @include btn;
        background-color: #0065ff;
        height: unset;
        font-size: 1.25rem;
        color: $bg;
        padding: 10px 16px;

    }
}


.home-body {
    text-align: center;

    h1 {
        font-family: charlie-text;
        font-weight: 700;
        font-size: 36px;
        font-weight: 900;
        line-height: 1.2;
        display: flex;
        flex-direction: column;
    }

    img {
        width: 100%;
        aspect-ratio: auto 931 / 1205;
        height: 777px;
        margin-top: 20px;
    }

    p {
        font-family: pri-font;
        font-size: 20px;
        line-height: 1.6;
        font-size: 1.5rem;
    }

    .text-container {
        width: 80%;
        margin: auto;
    }
}