.task-details-shadow {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    margin-bottom: 54px;

    .task-details {
        background-color: white;
        margin-top: 54px;
        width: 768px;
        // height: 1000px;
        margin-bottom: 40px;
        padding: 16px;

        .task-content {
            flex-grow: 1;

            h2 {
                // &::before {
                //     content: "\e912";
                // }
            }
        }
    }

    .task-edit {
        &>* {
            @include btn($type: light)
        }
    }

    .modal {
        position: absolute;
        right: 0;
        background-color: aliceblue;
        width: 300px;
        min-height: 300px;
    }
}