.workspace-wrapper {
    // display: flex;
    // flex-direction: column;
    width: 100vw;
    height: 100%;

    .workspace-container {
        margin: 40px 80px;

        .board-container {

            .board-preview-header {
                display: flex;
                margin-block-end: 20px;
                &>* {
                    margin: 10px 10px 10px 0;
                }
            }

            .board-preview-body {
                display: flex;
                flex-wrap: wrap;
                gap: 20px 8px;
                border-radius: 3px;
                margin: 0 0 50px;
                &>* {
                    background-color: $clr1;
                    width: 200px;
                    height: 100px;
                }
            }
        }
    }
}