// ::selection {
//     background-color: $clr1;
//     color: $bg;
// }

::placeholder {
    color: $txt;
}

* {
    box-sizing: border-box;
}

html {
    font-family: pri-font, sans-serif;
    color: $txt;
    font-size: rem(14px);

}

body {
    margin: 0;
    background-color: $bg;
    height: 100vh;

    #root {
        height: 100%;

        .app {
            height: 100%;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin: 0;
}

img {
    width: 100%;
    object-fit: contain;
}

p {
    margin: 0;
}

input {
    border: none;
    outline: none;
    background: transparent;
    font-family: pri-font, sans-serif;
    color: $txt;
    margin-inline-end: 8px;

}


textarea {
    border: none;
    outline: none;
    background: transparent;
    font-family: pri-font, sans-serif;
    color: $txt;
    resize: none;
    font-size: rem(18px);
    font-weight: 600;
    // overflow: hidden;
    overflow-wrap: break-word;
    height: 28px;
    line-height: 1;
    padding: 0 8px;

    &:focus {
        background-color: $white;
        border: 2px solid $txt;
        border-radius: 3px;
    }
}

button {
    cursor: pointer;
    padding: 0;
}

// .btn {
//     @include btn;

//     &-dark {
//         @include btn($type: dark);
//     }

//     &-light {
//         @include btn($type: light);
//     }
// }


// links
a {
    color: $txt;
    text-decoration: none;

    // &.active {
    //     background-color: $clr1;
    //     color: $clr2;
    // }
}