.main-layout {
    display: grid;
    width: 100vw;
    height: 100%;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 52px 1fr;

    >* {
        grid-column: 2;
    }

    >*.full {
        grid-column: 1 / -1;
    }

}