.attachments {
    display: flex;
    width: 100%;

    .attachment-list {
        flex-grow: 1;
    }
}

.modal-type {
    &:focus {
        outline: none;
    }
}

.attachment-preview {
    display: flex;

    p {
        margin: none;
    }

    img {
        width: 120px;
    }

    .attachment-title-and-options {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .attachment-options {
            display: flex;

            a {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}