.task-content {
    .attachments {
        display: flex;
        width: 100%;

        .attachment-list {
            flex-grow: 1;
        }
    }

    .modal-type {
        &:focus {
            outline: none;
        }
    }

    .attachment-preview {
        height: 80px;
        margin-bottom: 16px;
        border-radius: 3px;

        &:hover {
            background-color: $td-input;
        }


        p {
            margin: none;
        }

        .img-container {
            height: 80px;
            width: 112px;
            border-radius: 3px;
            overflow: hidden;
            cursor: pointer;

            img {
                height: 100%;
                object-fit: cover;
            }

        }

        .attachment-data {
            flex-grow: 1;
            padding: 8px 8px 8px 16px;

            h3 {
                font-size: 14px;
                font-weight: 700;
                color: $td-main;
            }


            p {
                padding: 0;
                color: $td-sub;
            }

            .attachment-button {
                span {
                    margin: 0 8px;
                }

                a {
                    text-decoration: underline;
                    color: $td-sub;
                    cursor: pointer;
                }
            }

        }
    }
}