.checklist-item-preview {
    flex-grow: 1;

    .item-content {
        flex-direction: column;
        flex-grow: 1;
    }

    .checklist-item-header {
        justify-content: space-between;
    }
}