.checklist-item-preview {
    display: flex;

    .item-content {
        flex-direction: column;
        flex-grow: 1;
    }

    .checklist-item-header {
        display: flex;
        align-items: center;

        .icon-wrapper {
            width: 32px;
            margin-inline-end: 8px;
            fill: $td-svg;


            svg {
                height: 24px;
                width: 24px;
                margin-inline-end: 8px;
                transform: translateY(12%);
            }
        }

        .header-details-wrapper {
            h2 {
                font-size: 16px;
                font-family: pri-font;
                font-weight: 600
            }

            button {
                @include btn
            }

            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-grow: 1;

        }
    }
}

.percentage-bar {
    display: flex;
    align-items: center;

    .percentage-num-wrapper {
        transform: translateX(10%);
        width: 32px;
        margin-inline-end: 8px;

        .percent-num {
            margin-inline-end: 8px;
        }
    }

}

.checklist-item-list {
    position: relative;

    .modal.checklist-members {
        right: 0;
    }
}

.cl-task-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    height: 35px;
    margin-top: 10px;
    border-radius: 3px;


    .checkbox-wrapper {
        width: 32px;
        margin-inline-end: 8px;

        input[type=checkbox] {
            width: 24px;
            margin: 0;
            display: inline-block;
            margin-inline-end: 8px;
            // padding: 0 5px;
        }
    }

    &:last-child {
        margin-bottom: 10px;
    }

    .cl-task {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;


    }

    .cl-task-buttons {
        display: none;
        // position: relative;
    }

    svg {
        height: 16px;
        width: 16px;
    }



    &:hover {
        background-color: $td-btn-hov;

        .cl-task-buttons {
            display: flex;

            .user-btn {
                border-radius: 10px;
            }

            a {
                fill: $td-svg;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 24px;
                min-width: 24px;
                display: flex;
                align-items: center;
                margin-inline-end: 4px;
                background-color: $opc-black;
                border-radius: 50%;

                img {
                    height: inherit;
                    border-radius: 50%;
                }
            }

            .delete-btn {
                border-radius: 3px;
            }

            a:hover {
                background-color: $opc-black-hov;
            }
        }
    }

    .space {
        display: inline-block;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
    }

    .space2 {
        margin: 0 4px;
    }

}

.checklist-item-footer {
    display: flex;
    width: 100%;



    button {
        @include btn;

    }

    form {
        width: 100%;
    }

    input {
        @include input($width: 93%);
        margin-inline-start: 40px;
    }

    button:nth-child(1) {
        @include btn;
        background-color: $clr1 ;
        color: $bg;
        margin-inline-start: 40px;
        margin-inline-end: 5px;
    }
}