@font-face {
    font-family: nunito;
    src: url(../../fonts/Nunito/Nunito.ttf);
}

@font-face {
    font-family: pri-font;
    src: url(../../fonts/SegoeUI/SegoeUI.ttf);
}

@font-face {
    font-family: pri-font-bold;
    src: url(../../fonts/SegoeUI/SegoeUIBold.ttf);
}

@font-face {
    font-family: pri-font-italic;
    src: url(../../fonts/SegoeUI/SegoeUIItalic.ttf);
}

@font-face {
    font-family: pri-font-bold-italic;
    src: url(../../fonts/SegoeUI/SegoeUIBoldItalic.ttf);
}