@font-face {
    font-family: nunito;
    src: url(../../fonts/Nunito/Nunito.ttf);
}

@font-face {
    font-family: pri-font;
    src: url(../../fonts/SegoeUI/SegoeUI.ttf);
}

@font-face {
    font-family: pri-font-bold;
    src: url(../../fonts/SegoeUI/SegoeUIBold.ttf);
}

@font-face {
    font-family: pri-font-italic;
    src: url(../../fonts/SegoeUI/SegoeUIItalic.ttf);
}

@font-face {
    font-family: pri-font-bold-italic;
    src: url(../../fonts/SegoeUI/SegoeUIBoldItalic.ttf);
}

@font-face {
    font-family: secular-font;
    src: url(../../fonts/Secluar/SecularOne-Regular.ttf);
}

@font-face {
    font-family: charlie-text;
    src: url(../../fonts/Charlie/Charlie-Text-Thin.ttf);
}