// COLOR PALETTE
$txt: #172b4d;
$bg: #FAFBFC;
$clr1: #026AA7;
$clr1-opc: #026ba754;
$clr1-opc2: #026ba721;
$edit: #5e6c84;
$edit-opc: rgba(94, 108, 132, 0.15);
$star: #f2d600;
$success: #23C552;
$danger: #F84F31;

//HEADER COLORS
$header: #00000090;
$header-workspace: #026AA7;

//TASK DETAILS
$td-main: #172b4d;
$td-sub: #5e6c84;
$td-bg: #f4f5f7;
$td-input: #091e420a;
$td-btn: #091e420a;
$td-btn-hov: #091e4214;
$td-svg: #42526e;

//LABELS
$label1: #61bd4f;
$label2: #f2d600;
$label3: #ff9f1a;
$label4: #eb5a46;
$label5: #c377e0;
$label6: #0079bf;

//GROUP
$group-bg: #eceef0;
$group-text: #5e6c84;


$header-board : #091e420a;

// LAYOUT
$layoutPadding: 20px;

$white: #ffffff;
$black: #000000;

//OPACITIES
$opc-black: #00000014;
$opc-black-hov: #00000029;
$opc-white: #FFFFFF14;
$opc-white-hov: #FFFFFF29;

//AUTH 
$login-btn: #5ec14a;


//COSTUME PROPERTIES
body {
    --clr-header: #026aa7;
    --clr-dynamic: $white;
    --clr-dynamic-inner: $white;

}