// COLOR PALETTE
$txt: #172b4d;
$bg: #FAFBFC;
$clr1: #026AA7;

//LABELS
$label1: #61bd4f;
$label2: #f2d600;
$label3: #ff9f1a;
$label4: #eb5a46;
$label5: #c377e0;
$label6: #0079bf;

//GROUP
$group-bg: #eceef0;
$group-text: #5e6c84;


$white: #ffffff;
$black: #000000;

//OPACITIES
$opc: #00000014;
$opc-hov: #00000029;