.main-header {
    height: 44px;
    background-color: $clr1;
    padding: 6px 20px;

    img {
        height: 20px;
        width: 20px;
        margin-inline-end: 4px;
    }

    h1 {
        font-family: nunito, sans-serif;
        color: $bg;
        font-size: rem(28px);
    }

    button {
        background-color: $opc;
        border: none;

        &:hover {
            background-color: $opc-hov;
        }

    }
}