.main-header {
    height: 44px;
    padding: 6px 20px;

    img {
        height: 15px;
        width: 15px;
        margin-inline-end: 4px;
    }

    h1 {
        font-family: nunito, sans-serif;
        font-weight: 600;
        font-size: rem(20px);
        margin-inline-end: 4px;
    }

    .filter {
        &>* {
            background-color: $opc-black;
            border: none;
            color: $bg;
            margin-inline-end: 4px;

            &:hover {
                background-color: $opc-black-hov;
            }

            svg {
                height: 15px;
                width: 15px;
                fill: $bg;
            }
        }
    }

}