.main-header {
    position: fixed;
    height: 44px;
    width: 100vw;
    padding: 0 20px;
    background-color: $header;

    h1 {
        color: $bg;
    }

    .logo {
        height: 32px;
        cursor: pointer;
        padding: 0 8px;
        border-radius: 3px;

        &:hover {
            background-color: $opc-black-hov;
        }

        img {
            height: 15px;
            width: 15px;
            margin-inline-end: 8px;
        }

        h1 {
            font-family: nunito, sans-serif;
            font-weight: 600;
            font-size: rem(20px);
            margin-inline-end: 4px;
        }
    }

    .filter {
        flex-grow: 1;

        &>* {
            @include btn($type: dark);
            margin-inline-end: 4px;
            background: transparent;

            svg {
                height: 15px;
                width: 15px;
                fill: $bg;
            }
        }
    }

    .search {
        border-radius: 3px;
        background-color: $opc-white;
        border: 1px solid $opc-white-hov;
        height: 32px;
        margin-inline-end: 4px;
        width: 250px;

        ::placeholder {
            color: $bg;
        }

        input {
            color: $bg;
            width: 100%;
        }

        svg {
            height: 20px;
            width: 20px;
            fill: $bg;
            margin: 0 4px;
        }

    }

    .btn-notification {
        height: 32px;
        width: 32px;
        line-height: 32px;
        border-radius: 3px;
        margin-inline-end: 4px;
        cursor: pointer;

        &:hover {
            background-color: $opc-black-hov;
        }

        svg {
            height: 20px;
            width: 20px;
            fill: $bg;
        }
    }

    .profile {
        border-radius: 50px;
        background-color: purple;
        height: 32px;
        width: 32px;
    }

}